.has-background-van-dyke {
    background-color: #553D36 !important;
}

.has-background-eggplant {
    background-color: #684A52 !important;
}

.has-background-taupe-grey {
    background-color: #857885 !important;
}

.has-background-cadet-grey {
    background-color: #87A0B2 !important;
}

.has-background-jordy-blue {
    background-color: #A4BEF3 !important;
}

.has-text-cadet-grey {
    color: #87A0B2 !important;
}

.has-text-jordy-blue {
    color: #A4BEF3 !important;
}

.has-border-black {
    border: black 1px solid;
}

.has-border-white {
    border: white 1px solid;
}