.parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
}

.parent::after {
    content: "";
    flex: auto;
}

.child {
    align-self: center;
    margin: 0 1rem 2rem 1rem;
    box-shadow: 3px 3px 5px black;
    transition: box-shadow .3s ease-in-out 0s;
}

.child:hover {
    box-shadow: 3px 3px 5px #82b2ff;
}