.parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
}

.parent::after {
    content: "";
    flex: auto;
}

.child {
    margin: 0 1rem 2rem 1rem;
}